
.menu-galeria{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
    color : $basicColor;
    margin-top: 25px;

    .active{
        color: $secondaryColor;
    }
    
    .filtro_galeria{
        cursor: pointer;
        border: none;
        background-color: transparent;
        letter-spacing: 1pt;
        font-weight: 900;
        transition: .5s;
        &:hover{
            color: $secondaryColor;
        }
        &:focus{
            border: none;
            outline: none;
        }
    }

    

}

.galeria{
    grid-column: 1/13;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.card-galeria{
    position: relative;
    min-width: 300px;
    min-height: 200px;
    max-width: 20%;
    max-height: 15%;
    img{
        width: 100%;
        height: 100%;
    }
}