.flex-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 15px;   
    margin-top: 25PX;
}

.own-card {
    border: 0.5px solid $lightColor;
    padding: 2% 5%;
    width: 30%;
    letter-spacing: 0.1rem;
    .img-block {
        position: relative;
        display: block;
        margin: auto auto 40px;
        width: 60px;
         img {
            display: block;
            position: relative;
            width: 55px;
            margin: auto;
        }

        &:after {
            position: absolute;
            content: "";
            width: 60px;
            height: 60px;
            background:url('../images/fondo-servicios.png') center center/contain;
            display: block;
            top: 0;
            left: 0;
            z-index: -1;
            transition: 1.5s;
        }
    }

    .title-card {
        position: relative;
        padding: 20px;
        text-align: center;
        &:after {
            position: absolute;
            content: "";
            width: 20%;
            height: 2px;
            background-color: $basicColor;
            left: 40%;
            bottom: -2px;
            transition: 1.5s;
        }
    }

    p{
        color: $basicColor;
        font-size: 1.1rem;
        line-height: 1.5rem;
        text-align: center;
    }

    &:hover{
        .title-card{
            color: $secondaryColor;
            &:after{
                width: 40%;
                left: 30%;
            }
        }
        .img-block{
            &:after{
                transform: rotate(30deg);
            }
        }
    }
}
